* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container-center {
  width: 1024px;
  margin: 0 auto;
}

/* header----------------------- */

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.logo-image {
  height: 70px;
  float: left;
}

.nav {
  float: right;
}

.nav-list {
  padding: 0 30px;
  float: left;
  line-height: 70px;
  list-style: none;
  color: #FAFAFA;
  font-size: 16px;
}

/* mv----------------------- */

#mv {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-position: center;
  background-size: cover;
}

.mv-name {
  padding-top: 200px;
  text-align: center;
  color: #FAFAFA;
  font-size: 64px;
}

.mv-text {
  padding-top: 10px;
  text-align: center;
  color: #FAFAFA;
  font-size: 20px;
}

/* Portfolio----------------------- */

#Portfolio {
  width: 100%;
  background-color: #ECEFF1;
}

.heading {
  padding-top: 90px;
  color: #000000;
  font-size: 32px;
  text-align: center;
}

.heading::after {
  content: "";
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
  display: block;
}

.heading-notes {
  padding-top: 30px;
  color: #000000;
  font-size: 16px;
  text-align: center;
}

.production-group {
  width: 920px;
  margin: 0 auto;
  padding: 30px 0 90px 0;
}

.production {
  float: left;
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-position: center;
  background-size: cover;
}

.production:nth-child(-n+3) {
  margin-top: 0;
}

.production:nth-child(3n) {
  margin-right: 0;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
}

.bg-4 {
  background-image: url(img/webcamp.png);
}

.bg-5 {
  background-image: url(img/talk.jpg)
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
}

/* Feature----------------------- */

#Feature {
  width: 100%;
  background-color: #FAFAFA;
}

.strength-group {
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.strength {
  width: 320px;
  margin-right: 10px;
  text-align: center;
  float: left;
}

.strength:nth-child(3) {
  margin-right: 0;
}

.strength i {
  font-size: 60px;
}

.strength-title {
  padding: 10px 0;
  font-size: 20px;
  color: #000000;
}

.strength-notes {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

/* Profile----------------------- */

#Profile {
  width: 100%;
  background-color: #ECEFF1;
}

/* footer----------------------- */

footer {
  width: 100%;
  height: 60px;
  background-color: #EC715F;

}

footer .copyright {
  line-height: 60px;
  text-align: center;
  color: white;
}